@using Todo.Data.Entities
@using Todo.Services
@using Todo.Views.TodoItem
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

    <ul class="list-group">

        <li class="list-group-item">
            <div class="row form-group">
                <div class="col-xs-12">
                    <form asp-action="Detail" asp-controller="TodoList" method="get">
                        @Html.HiddenFor(m=>m.TodoListId)
                        
                        <small>
                            <div class="form-group">
                                <label asp-for="SortProperty"></label>
                                @Html.DropDownListFor(
                                    m => m.SortProperty,
                                    SelectListConvenience.TodoListSortPropertySelectListItems,
                                    new
                                    {
                                        @class = "form-control form-control-sm"
                                    })
                            </div>

                            <div class="form-group">
                                <label asp-for="SortDirection"></label>
                                @Html.DropDownListFor(
                                    m => m.SortDirection,
                                    SelectListConvenience.SortDirectionSelectListItems,
                                    new
                                    {
                                        @class = "form-control form-control-sm"
                                    })
                            </div>
                            
                            <div class="form-group">
                                <label asp-for="IncludeDone"></label>
                                <input type="checkbox" asp-for="IncludeDone">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Apply</button>
                            </div>
                        </small>
                    </form>
                </div>
                
                <div class="col-xs-12 text-left">
                    <hr/>
                    <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                        <strong>Add New Item</strong>
                    </a>
                </div>
            </div>
        </li>

        @foreach (var item in Model.Items)
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            <li class="list-group-item @contextualClass">
                
                <div class="row">

                <div class="col-md-6">
                    <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                        @if (item.IsDone)
                        {
                            <s>@item.Title</s>
                        }
                        else
                        {
                            <text>@item.Title</text>
                        }
                    </a>
                    <p><span>Rank: </span>@item.Rank</p>
                </div>

                <div class="col-md-4 text-right">
                    <small>
                        @item.ResponsibleParty.UserName

                        <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30"/>

                    </small>
                </div>
                </div>

            </li>
        }
    </ul>
</div>